* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  margin-bottom: 2vw;
}
body {
  min-height: 100vh;
}
html {
  background: url(../img/1.webp) center no-repeat;
  background-size: cover;
}
main {
  width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  margin-bottom: 1vw;
  padding: 1vw 9vw;
  text-align: center;
  background-color: aquamarine;
  border-radius: 20px;
}
h1 {
  text-align: center;
  padding: 2vw;
  color: rgb(255, 255, 0);
  font-size: 70px;
  text-shadow: 5px 5px 5px white;
}
h3 {
  font-size: 24px;
}
#inputText,
#language,
#sortieren {
  padding: 1.5vw 6vw;
  border-radius: 30px;
  background-color: rgba(255, 255, 0, 0.699);

  font-weight: 800;
  font-size: 24px;
  color: rgb(28, 34, 228);
  width: 400px;
  text-align: center;
}

#inputText::placeholder {
  color: rgb(28, 34, 228);
  font-size: 24px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  margin: auto;
  margin-bottom: 3vw;
  padding-top: 3vw;
}
.button {
  border-radius: 20px;
  background-color: rgba(16, 47, 149, 0.783);
  color: white;
  font-size: 24px;
  padding: 1vw 5vw;
}

.contentOutput {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}
.contentOutput article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(235, 242, 48, 0.693);
  border-radius: 20px;

  box-shadow: 5px 10px 5px rgb(255, 254, 254);
}
.errortext {
  padding: 1.5vw 6vw;
  border-radius: 30px;
  background-color: rgba(255, 13, 0, 0.699);
  color: rgb(252, 251, 251);
  font-weight: 800;
  display: none;
  width: 400px;
  text-align: center;
  font-size: 24px;
}
